# Project
.idea

# Node
node_modules

# macOS
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.DS_Store
Icon

# Package Managers
yarn-error.log
npm-debug.log

# Cache
.awcache

# Build Generated
vendor/vendor.js
vendor/vendor.map
vendor/vendor-manifest.json
